.movies-grid {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow: auto;
}

.movies-grid--multiline {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow: visible;
}

.category-title {
    font-size: 13px;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 500;
}
